@tailwind base;
@tailwind components;
@tailwind utilities;


.limitar-ancho {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .logoHome{
    border-radius: 50px;
    width: 50%;
    object-fit: scale-down;
  }