@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    background-color: #04080f;
    
}

.limitar-ancho {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }